.main {
  flex-flow:column;
}
#i-top {
  margin:15px;
  margin-left:200px;
  margin-right:200px;
  padding:5px;
  flex: .5 .5 50%;
  border: 1px solid white;
  border-radius: 3pt;
  order: 1;
  display:flex;
  //flex-flow: column;
  align-items: center;
  justify-content: center;
}
#i-bottom {
  margin:0px;
  padding:0px;
  flex: .5 .5 50%;
  //border: 1px solid white;
  //border-radius: 3pt;
  order: 2;
  display:flex;
  flex-flow: row;
  //align-items: center;
  //justify-content: center;
}
#i-left {
  margin:15px;
  padding:5px;
  flex: .5 .5 50%;
  border: 1px solid white;
  border-radius: 3pt;
  order: 1;
  display:flex;
  //flex-flow: row;
  align-items: center;
  justify-content: center;
}
#i-right {
  margin:15px;
  padding:5px;
  flex: .5 .5 50%;
  border: 1px solid white;
  border-radius: 3pt;
  order: 2;
  display:flex;
  //flex-flow: row;
  align-items: center;
  justify-content: center;
}
